{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>{{name}}</p>

<table>
    <tr>
        <th>Nama</th>
        <th>Jenis</th>
        <th>Jumlah</th>
        <th>Tanggal</th>
        <th>Deskripsi</th>
        <th>Aksi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for transaction in list_of_transactions %}
        <tr>
            <td>{{transaction.name}}</td>
            <td>{{transaction.type}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.description}}</td>
            <td>
                <a href="{% url 'money_tracker:modify_transaction' transaction.pk %}">
                    <button>
                        Ubah
                    </button>
                </a>
                <a href="{% url 'money_tracker:delete_transaction' transaction.pk %}">
                    <button>
                        Hapus
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<br>

<a href="{% url 'money_tracker:logout' %}">
    <button>
        Logout
    </button>
</a>

<a href="{% url 'money_tracker:create_transaction' %}">
    <button>
        Transaksi Baru
    </button>
</a>

{% endblock content %}
